body{
  padding: 0%;
  margin: 0%;
}
.navlink{
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-size: 19px;

  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.hamburger{
  font-size: 36px;
  color: white;
  text-decoration: none;
}
.NavMainDiv{
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
}
.NavImgLogo{
  height: 100px;
  width: 300px;
}
.NavImgLogo1{
  height: 50px;
  width: 300px;
}
.navlink:hover{
text-decoration: underline;
text-underline-position: below;
color: black;
animation-fill-mode: forwards;
animation-name: LinkHover;
animation-duration: 0.5s;
/* font-size: 0px; */
animation-timing-function: 1;
}
@keyframes LinkHover{
  from{
    font-size: 19px;
  }
  to{
    font-size: 24px;
  }
}
.Navbarcontant{
width: 100%;
margin-top: 10px;
height: 70px;
position: -webkit-sticky;
position: sticky;
  top: 2px;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.NavbarLinks{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.LogoDiv{
  width: 30%;
}
.MainNavBar{
  flex-wrap: wrap;
  min-height: 70px;
  width: 100vw;
  height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 30px -30px;
  border-radius: 10px;
}
.mobmenuDiv{
  position: relative;
  z-index: 99;
  display: block;
}
.Display{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3px; */
}
.TopDivHeading{
  font-family: Open Sans;
font-style: normal;
font-size: 0px;
/* font-size: 48px; */
border-top: 3px solid white;
border-bottom: 3px solid white;
color: white;
animation-name: fadein;
animation-duration: 0.5s;
animation-fill-mode: forwards;


}

@keyframes fadein{
  from{
    font-size: 0x;
  }
  to{
  font-size: 48px;
  border: 5px solid white;
}
}




/* FOr Slider CSS */

 .slide_container{
  height: 70vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
 }
 .each-fade{
  margin: 10px;
  height: 45vh;
  width: 70vw;
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  box-shadow: 0px 10px 20px -6px #000;
}  
.FadeContainer{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 650px;
} */
/* .each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
} */

/* .sliderimgs{
  height: 350px;
  width: 99%;
  border-radius: 10px;
  background-size: cover;
  margin: 5px; 
} */



/* .sliderimgs{
  height: 350px;
  width: 75%;
  background-size: cover;
  border-radius: 10px;
  margin: 5px;
} 
.slide-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}  */



/* Contact Page CSs */


/* **************About Page CSS *************** */

.AboutMian{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Headdiv{
  margin-left: 10px;
}
.AboutContentDiv{
  padding: 10px
}
.aboutDetail ul li{
  list-style-type: none;
}
.aboutDetail{
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
}
.aboutHead{
  margin-top: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 600;
  color: rgb(57, 76, 83);
  size: 42px;
  line-height: 46.2px;
}


@media (max-width: 998px){
  .hamburger{
    display: block;
  }
 .navlink{
  display: block;
 }
.NavImgLogo{
 width: 170px;
}
}
@media (max-width: 798px){
.NavImgLogo{
 width: 140px;
}
}

@media (max-width: 798px){
.DetailDiv{
 flex-direction: column;
 display: flex;
}
.ContactForm{
  width: 100%;
}
.AboutMian{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
}



/* 
*********Product Page********** */


.ProductCard{
  height: 40vh;
  width: 30vh;
  box-shadow: 0px 10px 20px -6px #000;
  background-size: 100% 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;  animation-duration: 1s;
  animation-fill-mode: forwards;
   animation-name: Productcard;
   position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
  @keyframes Productcard{
    from{
      height: 0vh;
      width:  0vw;
    }
    to{
      height: 50vh;
  width: 40vh;
    }
}
.ProductCardMain{
  height: 55vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.CardDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;  width: 100vw;
}
.PrductHead{
  font-size: 48px;
  font-family: Open Sans;
  font-weight: bold;}
  .ProCardImg{
    height: 190px;
    width: 190px;
    border-radius: 50%;
  }
