.navlink{
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 16px;

  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.NavImgLogo{
  height: 66px;
  width: 200px;
}
.navlink:hover{
text-decoration: underline;
text-underline-position: below;
color: brown;
}
.NavbarLinks{
  width: 60%;
}
.LogoDiv{
  width: 30%;
}
.emptydiv{
  width: 10%;
}
.MainNavBar{
  flex-wrap: wrap;
  min-height: 70px;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 30px -30px;
  border-radius: 10px;
}
.Display{
  height: 100Px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}





/* FOr Slider CSS */
 
<<<<<<< HEAD

.each-slide-effect > div {
=======
 .each-fade> div {
>>>>>>> 9f78be8c604360b9722fdd68a285f15f1bbeb99f
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
<<<<<<< HEAD
  height: 650px;
}
.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
=======
  
}
.nav{
  background-color: lightgray;
  opacity: 1;
}
.fade{
  background-color: none;
}
.sliderimgs{
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.slide-container{
  margin: 10px;
}
.each-fade> span {
  display: flex;
  padding: 20px; 
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

>>>>>>> 9f78be8c604360b9722fdd68a285f15f1bbeb99f
